@import url("./main.css");

.blog-admin-main{
    flex-direction: column;
    padding-left:2.5vw;
    padding-top: 20px;
    color:var(--font-color);
}


.admin-main-upper{
    display:flex;
    flex-direction:row;

}

.admin-section{
    padding: 20px;
    height:100px;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.admin-section:not(:last-child){
    margin-right:20px;
}

.tablo{
    margin-top: 20px;
    color:var(--font-color);
    padding: 20px;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.old-alist{

    display: flex;
    /*justify-content:center;*/

    /*text-align: center;*/
    padding-left:20px;
    height: 7vh;
    border-radius: 10px;
    align-items: center;
    background-color:var(--menu-bg-color);
    color:var(--font-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    margin-bottom:20px;

}

.old-alist:first-of-type{
    margin-top:20px;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
  
  
table tr {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: .35em;
}
  
table th,
table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.about-header{

    margin:0;

    font-size: 20px;

    color:var(--menu-hover-color);

    letter-spacing: -1px;

}

.yazimain{
    color:var(--font-color);
    padding-left:2.5vw;
    padding-top: 20px;
    overflow-y: auto;
    height:calc(100vh - 20px);
}

.yaziekle{
    margin-top:20px;
    overflow-y:auto;
    padding: 20px;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

input:not(input[type=submit]){
    background: transparent;

    height:30px;
    width: 300px;

	outline: none;

	box-shadow: none;

	border-radius: 5px;

    border: 2px solid #e6e6e6;

	color: var(--font-color);

	font-size: 16px;

	letter-spacing: 0.05em;
}


textarea{
    margin-top:20px;
}

input[type="submit"]

{

	border: none;

	outline: none;

	padding: 11px 25px;

	background:rgb(36, 91, 149);

	cursor: pointer;

	border-radius: 4px;

    color : #ffff;

	font-weight: 600;

	width: 100px;

	margin-top: 10px;

    position: center;

}

input[type="submit"]:active 

{

	opacity: 0.8;

}

.admin-mobile{
    display: flex;
    flex-direction: column;
}

.admin-mobile-section{
    padding: 20px;
    height:20px;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.mobile-body{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}

@media screen and (max-width:600px){
    table th{
        font-size:12px;
    }

    table td{
        font-sizE:12px;
    }
}



/*.admin-main{
    display:flex;
    flex-direction: row;
    height:calc(100vh - 110px);
    padding-left:2.5vw;
    padding-top: 20px;
    color:var(--font-color);
}

.admin-main .text{
    padding-left:0;

}

.yazi-upper{
    display:flex;
    flex-direction: row;
    padding-top: 20px;
    margin-bottom: 20px;
    color:var(--font-color);
}

.admin-section{
    padding: 20px;
    height:100px;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.admin-section:not(:last-child){
    margin-right:20px;
}

.yazimain{
    color:var(--font-color);
}

.yaziekle{
    padding-left:2.5vw;
    padding-top: 20px;
    overflow-y:auto;
    padding: 20px;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

input:not(input[type=submit]){
    background: transparent;

    height:30px;
    width: 300px;

	outline: none;

	box-shadow: none;

	border-radius: 5px;

    border: 2px solid #e6e6e6;

	color: var(--font-color);

	font-size: 16px;

	letter-spacing: 0.05em;
}


textarea{
    margin-top:20px;
}

input[type="submit"]

{

	border: none;

	outline: none;

	padding: 11px 25px;

	background:rgb(36, 91, 149);

	cursor: pointer;

	border-radius: 4px;

    color : #ffff;

	font-weight: 600;

	width: 100px;

	margin-top: 10px;

    position: center;

}

input[type="submit"]:active 

{

	opacity: 0.8;

}

.tablo{
    margin-left:2.5vw;
    margin-top: 20px;
    color:var(--font-color);
    padding: 20px;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
  
  
table tr {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: .35em;
}
  
table th,
table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.about-header{

    margin:0;

    font-size: 20px;

    color:var(--menu-hover-color);

    letter-spacing: -1px;

}*/
