@import url("./main.css");

#header404{
    font-size:60px;
    font-weight: 700;
    text-align: center;
    color : var(--menu-hover-color);
}

.error-page{
    margin-left:2.5vw;
    margin-top: 20px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    overflow-y: auto;
    color : var(--font-color);
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.about-header{
    margin:0;
    font-size: 20px;
    color:var(--menu-hover-color);
    letter-spacing: -1px;
}

#son{
    margin-bottom:50px;
}

.mobile-body{
    margin:20px;
    padding:20px;
    height:100%;
    color : var(--font-color);
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    
}