@import url("./main.css");

.about-header{
    font-size: 20px;
    color:var(--menu-hover-color);
    letter-spacing: -1px;
}

.privacy-main{
    margin-top:20px;
    margin-left:2.5vw;
    height:calc(100vh - 50px);
    color: var(--font-color);
}

.privacy-main{
    overflow-y: auto;
}

.privacy-container{
    margin-right:20px;
}

.privacy-mobile{
    margin-left:20px;
    margin-right:20px;
    color : var(--font-color);
}
