@import url("./main.css");

.project-main{

    display: grid;

    grid-template-columns: 65% 35%;

    padding-left: 2.5vw;

    padding-top: 20px; 

    height:calc(100vh - 110px);

}

.old-projects{

    width: calc(100% - 15px);

    height:calc(100vh - 130px);

    overflow: auto;

    padding-top:10px;

}

.about-header{

    font-size: 20px;

    color:var(--menu-hover-color);

    letter-spacing: -1px;

    margin-top:0;

}

.old-project{

    margin-right:50px;

    border-radius: 10px;

    padding:20px;


    /*background-color:#f9f9f9;*/

    background-color: var(--menu-bg-color);

    color:var(--font-color);

    border-radius: 10px;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);



}



.mobile-newprojects{

    display:none;   

}



.newprojects{

    height:100%;

    width: 100%;

    padding-top:10px;

    overflow-y: auto;

}



.new-project {

    display: flex;

    flex-direction: column;

    padding:20px;

    /*justify-content:center;*/

    margin-right:10px;

    background-color: var(--menu-bg-color);

    color:var(--font-color);

    border-radius: 10px;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);

}



.new-project h2{

    margin-top:0;

}

.svglink{
    height:10px;
    margin-bottom:0;
    margin-left:10px;
}

.newproject-name{

    font-size: 20px;

    font-weight: 500;

    line-height: 1.2;


}

button{
    border: none;

	outline: none;

	padding: 10px;

	background:rgb(36, 91, 149);

	cursor: pointer;

	border-radius: 4px;

    color : #ffff;

	font-weight: 600;

	width: 50%;

	margin-top: 20px;
}



.mobile-old-projects{

    margin-left:20px;

    margin-right:20px;   

    margin-bottom:20px;

    margin-top:50px;

}



.mobile-old-project{

    background-color: var(--menu-bg-color);

    color : var(--font-color);

    border-radius: 10px;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);

    padding:20px;

}



.mobile-newprojects-2

{

    margin-left:20px;

    margin-right:20px;

}



.mobile-he{

    margin-bottom:20px;

}

/******* FOTOĞRAF KISMI *****/

#carousel {
    height: 200px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #245b95;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1000;
}

.arrow-left{
    left:5px;
}

.arrow-right {
    left:calc(100% - 20px);
}

.item {
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 40px;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
    margin-right:10px;
    box-shadow: inset 0 -20px 20px -20px black, inset 0 -10px 10px -10px black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.level-2 {
    height: 150px;
    width: 100px;
    line-height: 150px;
    background-color: #245b95;
    left: 600px;
    margin-top: 25px;
    border:2px solid #245b95;
}

.level-1 {
    height: 180px;
    width: 120px;
    line-height: 180px;
    background-color: #245b95;
    left: 400px;
    margin-top: 10px;
    border:2px solid #245b95;
}

.level1 {
    height: 200px;
    width: 250px;
    line-height: 200px;
    background-color: #245b95;
    left: 250px;
    border:2px solid #245b95;
}

.level0 {
    height: 180px;
    width: 120px;
    line-height: 180px;
    background-color: #245b95;
    margin-top: 10px;
    left: 180px;
    border:2px solid #245b95;
}

.left-enter {
    opacity: 0;
    left: -60px;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: 50px;
    height: 150px;
    width: 110px;
    line-height: 150px;
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: 650px;
    height: 150px;
    width: 110px;
    line-height: 150px;
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: 780px;
    opacity: 0;
    height: 120px;
    line-height: 120px;
    margin-top: 40px;
    width: 90px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: 760px;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: 650px;
    opacity: 1;
    height: 150px;
    margin-top: 25px;
    line-height: 150px;
    width: 110px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: 50px;
    height: 150px;
    opacity: 1;
    margin-top: 25px;
    line-height: 150px;
    width: 110px;
}

.right-leave.right-leave-active {
    left: -60px;
    opacity: 0;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**** FOTOĞRAF KISMI SONU ****/


@media screen and (max-width:1028px){

    .project-main{

        display: grid;

        grid-template-columns: 100%;

    }



    .main-header{

        margin-right:2.5vw;

    }



    .newprojects{

        display:none;

    }



    .mobile-newprojects{

        display: contents;

    }



    .old-project{

        margin-right:2vw;

    }



    .new-project{

        margin-right:2vw;

    }



}



@media screen and (max-width:600px){

    .new-project:last-child{

        margin-bottom:20px;

    }



    .new-project{

        margin-right:0;

    }

}