@import url("./main.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

.yapboz-main{
    height:calc(100vh - 110px);
    padding-left:2.5vw;
    padding-top:2.5vw;
}

.yapboz-submain{
    width:100%;
    height:100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bg-color);
    color:var(--font-color);
    border-radius: 10px;
    padding:20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.accordion input {
	display: none;
}

.box {
	position: relative;
	background: transparent;
  color: var(--font-color);
  height: 64px;
  transition: all .15s ease-in-out;
}

.box-title {
	width: calc(100% - 10px);
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
  border-left:solid;
  border-width: 5px;
  color: var(--font-color);
  border-color:var(--menu-hover-color);
  background-color: var(--evrenintonlari-header);
  border-radius: 5px;
	/*-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;*/
}
.box-content {
	width: calc(100% - 10px);
	padding: 30px 20px;
	font-size: 11pt;
	color: var(--font-color);
	display: none;
}

.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 16px 0;
    /*box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);*/
}
input:checked + .box .box-title {
	/*border-bottom: 1px solid rgba(0,0,0,.18);*/
}
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 10px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: var(--font-color);
}
input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}

.about-header{

    margin:0;
    font-size: 20px;
    color:var(--menu-hover-color);
    letter-spacing: -1px;

}

.mobile-yapboz{
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    padding: 20px;
}
  
.mobile-body{
    padding:20px;
    color: var(--font-color);
}

.volunteer-2{

    display: flex;
    flex-direction: column;
    padding:20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--evrenintonlari-header);
    color : var(--font-color);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);

}

.volunteer-2 h3{
    margin-top:10px;
}

.volunteer-image{

    border-radius: 10px;
    height:250px;
    width:250px;
    object-fit: cover;

}


@media  screen and (max-width: 600px) {

    .box .genislet{
        height: 120px;
        transition: all .15s ease-in-out;
    }

    .box-title .genislet {
        width: calc(100% - 10px);
        height: 80px;
        line-height: 32px;
        /*-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;*/
    }

    .box .genislet2{
        height: 180px;
        transition: all .15s ease-in-out;
    }

    .box-title .genislet2 {
        width: calc(100% - 10px);
        height: 200px;
        line-height: 32px;
        /*-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;*/
    }
}